<html>
  <head>
    <title>Member Form</title>
  </head>
  <body>
    <% if (currentUser) {%>
    <h1>WELCOME BACK <%= currentUser.email %></h1>
    <a href="/logout">LOG OUT</a>
    <a href="/new">CREATE NEW MESSAGE</a>
    <% } %>
    <h1>Become a Member</h1>
    <form method="POST" action="/member">
      <section>
        <label for="memberCode">Enter Member Password:</label>
        <input type="text" id="memberCode" name="memberCode" required />
      </section>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
