<html>
  <head>
    <title>New Message Form</title>
  </head>
  <body>
    <% if (currentUser) {%>
    <h1>WELCOME BACK <%= currentUser.email %></h1>
    <a href="/logout">LOG OUT</a>
    <a href="/new">CREATE NEW MESSAGE</a>
    <% } %>
    <h1>New Message</h1>
    <form method="POST" action="/messages">
      <section>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required />
      </section>
      <section>
        <label for="text">Message:</label>
        <input type="text" id="text" name="text" required />
      </section>
      <button type="submit">Send Message</button>
    </form>
  </body>
</html>
